img {
    width: 100%;
    border: 2px solid red;
}
div {   
    background-color: black;
    bottom: 0;
}
div img {
    width: 150px;
    border: 0;
}
@media screen and (max-width: 1020px) {
    main {
        text-shadow: 0 0 6px black;
    }
}