main {
    margin: 0 20%;

}
header {
    background-image: url(../images/backgrounds/circuit.png);
    padding-top: 10px;
}
body {
    margin: 0;
    color: antiquewhite;
    text-align: center;
    background-image: url(../images/backgrounds/catGround.png);
    font-size: 130%;
}
a {
    color: antiquewhite;
}
hr {
    border: 2.5px solid red;
}
@media (max-width: 1080px) {
    main {
        margin: 0 5%;
    }
    header nav a{
        display: inline-block;
        font-size: 150%;
        padding: 0 10px;
    }
    h1, h2 {
        font-size: 200%;
        margin: 10px;
    }
    a, p {
        font-size: 150%;
        margin: 5px 10px;
    }
}