body {
    background-image: url(/images/backgrounds/catGround.png);
    text-align: center;
    color: blanchedalmond;
    font-size: 130%;
    margin: 0;
}
main {
    margin-left: 20%;
    margin-right: 20%;
}
header {
    background-image: url(/images/backgrounds/circuit.png);
    padding-top: 10px;
}

a {
    color: blanchedalmond;
}
hr {
    border: 2.5px solid red;
}
