article {
    clear: both;
    background-color: blanchedalmond;
    color: black;
    float: left;
    border: 5px solid red;
    text-align: left;
    margin-bottom: 15px;
}
h2, h3, p {
    margin: 0;
}
ul {
    display: table;
    margin: 0 auto;
    text-align: left;
}
h3 {
    font-size: 12pt;
}
img {
    width: 50%;
    float: left;
    padding: 0 10px 10px 0;
}
footer {
    clear: both;
}