article {
    background-color: white;
    color: black;
    text-shadow: none;
}
main {
    margin: 10px;
}
@media screen and (min-width: 1020px) {
    main {
        font-size: 100%;
        margin: 0 10%;
    }
    header {
        background-image: url(../images/backgrounds/circuit.png);
        padding-top: 1px;
    }
}