main {
    text-align: center;
}
#notfound {
    background-color: antiquewhite;
    border: 3px solid;
    margin-left: 35%;
    margin-right: 35%;
}
#notfound h1, p {
    color: black;
}
main a {
    padding: 5px;
    border: 2px solid darkred;
    color: darkred;
    border-radius: 10px;
}